In [1]:
print('abcd')

abcd

In [1]:
x='abcd'

In [2]:
l=[]
for i in range(3):
    l.append(list(map(int,input().split())))
print(l)

1 2 3
4 5 6
7 8 9
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
lst='sameer gangrade'

In [4]:
lst.index('')

7

In [1]:
lst=[i**3 for i in range(1,11)]

In [2]:
lst

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [3]:
lst.remove(4**3)

In [4]:
lst

[1, 8, 27, 125, 216, 343, 512, 729, 1000]

In [7]:
lst='sameer gangrade sameer gangrade'

In [8]:
x=lst.split()

In [9]:
x='__'.join(x)

In [10]:
x

'sameer__gangrade__sameer__gangrade'

In [11]:
d={'a':1,'b':2}

In [13]:
x=d.get('c')

In [15]:
type(x)

NoneType

In [16]:
if x is None:
    print('abcd')

abcd

In [17]:
d.items()

dict_items([('a', 1), ('b', 2)])

In [18]:
for x,y in d.items():
    print(x,y)

a 1
b 2

In [25]:
d={'india':'Delhi','US':'Washington'}

In [26]:
d1={}
for x,y in d.items():
    d1[y]=x

In [27]:
d1

{'Delhi': 'india', 'Washington': 'US'}

In [29]:
n=int(input())
for i in range(n+1):
    str="*"*i
    print(str)

 3

*
**
***

In [41]:
n=int(input())
j=n
i=1
for x in range(n):
    str1=" "*j
    str2="*"*(i)
    print(str1+str2+str1)
    j-=1
    i+=2

 10

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************